<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>考勤系统</title>
<style  type="text/css">
a:link {
 text-decoration: none;
 color:#0000EA;
}
a:visited {
 text-decoration: none;
  color:#FFFFFF;
}
a:hover {
color:#FFFF00;
}
a:active {
 text-decoration: none;
  color:#FFFFFF;
}
*{
margin:0px;
padding:0px;
}
.div1{
font-family:"华文楷体";
font-size:25px;
font-weight:bold;;
}
.div2{
font-family:"华文楷体";
}
.style1 {font-size: large}
</style>

</head>

<body  bgcolor="#999999"\>
<div class="div1"><span style="float:left">某公司OA办公系统</span>&nbsp;&nbsp;&nbsp;<span style="font-size:10px;font-style:italic "></span>  <span style="font-size:18px; color: #FFFFFF;float:right;">工号 <td  th:text="${user.username}"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="time">
</span></span></div>
<div class="div2">
<table width=100% height="1" cellspacing="20">
<tr>
<td><a href="/notice" class="style1" >信息管理</a></td>
<td><a href="/diary" class="style1">今日心情</a></td>
<td><a  th:href="@{/kaoqin/{username}(username=${user.username})}" class="style1">今日签到</a></td>
</tr>
</table>
</div>
<script>
        document.getElementById('time').innerHTML = new Date().toLocaleString()
                + ' 星期' + '日一二三四五六'.charAt(new Date().getDay());
        setInterval(
                "document.getElementById('time').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",
                1000);
  </script>
  <div>
<img src="/images/1.jpg"/>

  </div>
</body>
</html>
