<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  </head>
  
  <body>
  <div align="center" style="text-align: center" class="div2">
    <span style="font-size: 30px;letter-spacing: 10px">今日签到</span>
  <table width="500" height="200" border="1" align="center" bgcolor="#FFFFFF" >
    <thead>
    <tr>
      <th >ID</th>
      <th >工号</th>
      <th>签到时间</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kaoqin : ${kaoqin.getList()}">
      <td  th:text="${kaoqin.id}"></td>
      <td th:text="${kaoqin.username}"></td>
      <td th:text="${kaoqin.date}"></td>
    </tr>
    </tbody>
</table>
  </div>
  </body>
</html>
